body {
    font-family: 'Poppins', sans-serif;
    padding: 40px 80px; 
    background-color: #F8F9FA;
    color: #153545;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.t-green{
    color: #33647E;
}

.btn-green {
    color: #fff;
    background-color: #33647E;
    border-color: #33647E;
}

.bfl{
    border-radius: 10px 0px 0px 0px !important;
    padding: 0
}

.bfr{
    border-radius: 0px 10px 0px 0px !important
}

.table-bordered{
    border-color: 1px 0px 0px 1px solid #eee !important;
}

.bg1{
    background-color: #33647E;
    border-color: #33647E;
}
.bg2{
    background-color: #47748B;
    border-color:#47748B;
}
.bg3{
    background-color: #5C8398;
    border-color: #5C8398;
}
.bg4{
    background-color: #7092A5;
    border-color: #7092A5;
}
.bg5{
    background-color:#85A2B2;
    border-color:#85A2B2 
}


.form-control {
    color: #153545;
    border-radius: 10px;
}

th{
    color: #33647E;
    padding: 12px !important;
}

td{
    color: #33647E;
    padding: 12px !important;
}